<div fxLayout="column" fxFlex="100%" fxLayoutAlign="center center" class="content-padding">
    <div fxFlex="60%" fxFlex.lt-sm="100%" fxFlex.lt-md="80%">
        <div class="">
            <mat-card>
                <div class="card-image-container">
                    <img mat-card-image src="{{background}}" alt="Photo of a Shiba Inu">
                    <img *ngIf="account" class="profile" src="{{account.photo}}" alt="Profile Picture">
                </div>
                <mat-card-header>
                    <mat-card-title>
                        <h1><b>{{account?.name}}</b> ({{role}})</h1>
                    </mat-card-title>
                    <mat-card-subtitle>{{account?.email}}</mat-card-subtitle>
                </mat-card-header>
                <mat-card-content>
                    <!-- <p>Profile works!</p> -->
                </mat-card-content>
            </mat-card>
        </div>
    </div>
</div>