.container {
    /* width: 75%; */
    margin-left: 20%;
    margin-right: 20%;
}

.colorize {
    background-color: yellow;
}

.card-image-container {
    position: relative;
    height: 60%;
}

.profile {
    display: block;
    position: fixed;
    left: 50%;
    right: 50%;
    margin: 0;
    z-index: 1;
    width: 180px;
    border-radius: 50%;
    transform: translate(-50%, -105%);
}

@media only screen and (max-width: 768px) {
    /* For mobile phones: */
    /* [class*="container"] {
        margin-left: 14px;
        margin-right: 14px;
    } */
    .container {
        margin-left: 14px;
        margin-right: 14px;
    }
    .colorize {
        background-color: green;
    }
}