<mat-toolbar color="primary">
    <button mat-icon-button class="example-icon" aria-label="Example icon-button with menu icon" (click)="sidenav.toggle()">
        <mat-icon>menu</mat-icon>
    </button>
    <span>Telkom Juara</span>
    <span class="toolbar-spacer"></span>
    <button mat-icon-button [matMenuTriggerFor]="menu" title="More options">
        <mat-icon>more_vert</mat-icon>
    </button>

    <mat-menu #menu="matMenu">
        <a mat-menu-item routerLink="/profile">
            <mat-icon>account_circle</mat-icon>
            <span>Profile</span>
        </a>
        <button mat-menu-item (click)="logout()">
            <mat-icon>logout</mat-icon>
            <span>Logout</span>
        </button>
    </mat-menu>

</mat-toolbar>
<mat-sidenav-container [style.height.%]=100>
    <mat-sidenav #sidenav [(opened)]="opened" [style.width.px]=300 [mode]="mobileQuery.matches ? 'over' : 'side'" [fixedInViewport]="mobileQuery.matches" fixedTopGap="56">

        <!-- Shared Side Navigation -->
        <app-shared-sidenav></app-shared-sidenav>

    </mat-sidenav>
    <mat-sidenav-content>

        <!-- Content here -->
        <router-outlet></router-outlet>

    </mat-sidenav-content>
</mat-sidenav-container>