<div fxLayout="row" fxLayoutAlign="center center" fxFlexFill>
    <mat-card>
        <form [formGroup]="authForm" (ngSubmit)="login()">
        <mat-card-header>
            <mat-card-title>Login</mat-card-title>
            <mat-card-subtitle>Welcome to Telkom Juara</mat-card-subtitle>
        </mat-card-header>
        <mat-card-content>
            <div fxLayout="column" fxLayoutAlign="stretch">
                <mat-form-field appearance="outline">
                    <mat-label>NIK</mat-label>
                    <input matInput type="number" formControlName="nik">
                </mat-form-field>

                <mat-form-field appearance="outline">
                    <mat-label>Password</mat-label>
                    <input matInput [type]="togglePassword ? 'password' : 'text'" formControlName="password">
                    <a mat-icon-button matSuffix (click)="togglePassword = !togglePassword"
                        [attr.aria-label]="'Hide password'" [attr.aria-pressed]="togglePassword">
                        <mat-icon>{{togglePassword ? 'visibility_off' : 'visibility'}}</mat-icon>
                    </a>
                </mat-form-field>
            </div>
        </mat-card-content>
        <mat-card-footer>
            <mat-card-actions fxLayout="column" fxLayoutAlign="stretch">
                <a mat-button fxHide color="accent">Register</a>
                <button [ngClass]="{'disabled' : 'loading'}" mat-button type="submit" color="accent"
                    [disabled]="isLoading">Login</button>
            </mat-card-actions>
        </mat-card-footer>
        <mat-progress-bar [fxShow]="isLoading" mode="indeterminate"></mat-progress-bar>
    </form>
    </mat-card>
</div>