<h3>Order Baru</h3>
<button [fxHide]="user?.role == 2" mat-button (click)="newOrderDialog()" color="accent"><mat-icon>add</mat-icon>Order Baru</button>

<br />
<mat-divider></mat-divider>
<br />

<div [formGroup]="orderFilter">
    <p>Filter berdasarkan status:</p>
    <mat-radio-group aria-label="Filter by order status" formControlName="options">
        <mat-radio-button class="mrb" value="all">Semua</mat-radio-button>
        <mat-radio-button class="mrb" value="pending">Menunggu</mat-radio-button>
        <mat-radio-button class="mrb" value="ongoing">Sedang Dikerjakan</mat-radio-button>
        <mat-radio-button class="mrb" value="trouble">Kendala</mat-radio-button>
        <mat-radio-button class="mrb" value="completed">Selesai</mat-radio-button>
        <mat-radio-button class="mrb" value="archived">Diarsipkan</mat-radio-button>
    </mat-radio-group>
</div>
<br />

<mat-accordion role="list">

    <mat-expansion-panel role="listitem" *ngFor="let order of dataSource.data; let i = index">
        <mat-expansion-panel-header fxLayout="row">
            <mat-panel-title>
                {{order.uid}} - ({{order.customer.name}})
            </mat-panel-title>
            <mat-panel-description fxLayoutAlign="end">
                <i>{{orderService.getStatusDisplay(order.status)}}</i>
            </mat-panel-description>
        </mat-expansion-panel-header>
        <div fxLayout="column">
            <div>
                <p>Diterima oleh: {{order.office.name}}</p>
                <p *ngIf="order.field != null">Dikerjakan oleh: {{order.field.name}}</p>
                <p>Layanan: {{order.service.name}}</p>

                <button fxHide type="file" mat-flat-button color="primary">Primary</button>
            </div>
            <div fxLayout="row" fxLayoutAlign="center">
                <div>
                    <img fxHide [fxShow]="order.doc_customer != null" width="200" [src]="order.doc_customer" />
                </div>
                <div>
                    <img fxHide [fxShow]="order.doc_house != null" width="200" [src]="order.doc_house" />
                </div>
            </div>
            <div fxFlexAlign="end">
                <a [routerLink]="[order.uid]" mat-button color="accent">Lihat detail</a>

            </div>
        </div>
    </mat-expansion-panel>

</mat-accordion>