<h3>Beranda</h3>

<br />
<mat-divider></mat-divider>
<br />

<div>
    Line Charts
</div>

<br />
<mat-divider></mat-divider>
<br />

<div fxLayout="row" fxLayoutAlign="space-between center" fxLayoutGap="20px" class="stat-card">
    <mat-card fxFlex="25">
        <div fxLayoutGaps="20px">Line Charts</div>
    </mat-card>
    <mat-card fxFlex="25">
        <div>Line Charts</div>
    </mat-card>
    <mat-card fxFlex="25">
        <div>Line Charts</div>
    </mat-card>
    <mat-card fxFlex="25">
        <div>Line Charts</div>
    </mat-card>
</div>

<br />
<mat-divider></mat-divider>
<br />

<div fxLayout="column" fxLayoutAlign="space-between center" fxLayoutGap="20px" class="stat-card">
    <div>Table</div>

    <div>Pie Charts</div>
</div>