<h2>Beranda</h2>
<div fxLayout="column" fxLayoutAlign="space-between space-between" fxLayoutGap="20px">
    <mat-card>
            <app-order-weekly></app-order-weekly>
    </mat-card>
</div>
<br />
<div fxLayout="column" fxLayoutAlign="space-between space-between" fxLayoutGap="20px">
    <mat-card>
        <app-order-monthly></app-order-monthly>
    </mat-card>
</div>
<br />
<div fxLayout="column" fxLayoutAlign="space-between space-between" fxLayoutGap="20px">
    <mat-card>
        <app-order-yearly></app-order-yearly>
    </mat-card>
</div>

<br />
<mat-divider></mat-divider>
<br />

<div fxLayout="row" fxLayoutAlign="space-between center" fxLayoutGap="20px" class="stat-card">
    <mat-card fxFlex="50" fxFlex.gt-sm="100">
        <div fxLayoutGaps="20px">
            <app-order-service-yearly></app-order-service-yearly>
        </div>
    </mat-card>
    <mat-card fxFlex="50">
        <app-order-service-monthly></app-order-service-monthly>
    </mat-card>
</div>