<h1 mat-dialog-title>Edit Akun</h1>

<mat-dialog-content>
    <form fxLayout="column" fxLayoutAlign="stretch" [formGroup]="editAccountGroup">
        <div fxLayout="column" fxLayoutAlign="center">
            <img class="mat-form-field-flex" style="border-radius: 50%; background-color: aliceblue;" src="{{getProfile()}}" alt="Profile Picture">
        </div>

        <br/>
        <mat-divider></mat-divider>
        <br/>

        <mat-form-field appearance="outline">
            <mat-label>NIK</mat-label>
            <input matInput type="number" formControlName="nik">
        </mat-form-field>

        <mat-form-field appearance="outline">
            <mat-label>Nama</mat-label>
            <input matInput type="text" formControlName="name">
        </mat-form-field>

        <mat-form-field appearance="outline">
            <mat-label>Email</mat-label>
            <input matInput type="email" formControlName="email">
        </mat-form-field>

        <mat-form-field appearance="fill">
            <mat-label>Gender</mat-label>
            <mat-select formControlName="gender">
                <mat-option value="male">Laki-Laki</mat-option>
                <mat-option value="female">Perempuan</mat-option>
            </mat-select>
        </mat-form-field>
        <!-- Role here -->
        <mat-form-field appearance="fill">
            <mat-label>Role</mat-label>
            <mat-select formControlName="role">
                <mat-option *ngFor="let role of roles" [value]="role.value">
                    {{role.text}}
                </mat-option>
            </mat-select>
        </mat-form-field>

        <mat-form-field appearance="outline">
            <mat-label>Phone</mat-label>
            <input matInput type="tel" formControlName="phone">
        </mat-form-field>

        <mat-form-field appearance="outline">
            <mat-label>Whatsapp</mat-label>
            <input matInput type="tel" formControlName="whatsapp">
        </mat-form-field>

        <br/>
        <mat-divider></mat-divider>
        <br/>
        <h3>Reset Password</h3>
        <mat-form-field appearance="outline">
            <mat-label>Password</mat-label>
            <input matInput type="password" formControlName="password">
        </mat-form-field>

        <mat-form-field appearance="outline">
            <mat-label>Verify password</mat-label>
            <input matInput [type]="togglePassword ? 'password' : 'text'" formControlName="rePassword" [errorStateMatcher]="matcher">
            <a mat-icon-button matSuffix (click)="togglePassword = !togglePassword" [attr.aria-label]="'Hide password'" [attr.aria-pressed]="togglePassword">
                <mat-icon>{{togglePassword ? 'visibility_off' : 'visibility'}}</mat-icon>
            </a>
            <mat-error *ngIf="editAccountGroup.hasError('notSame')">
                Passwords do not match
            </mat-error>
        </mat-form-field>
    </form>

</mat-dialog-content>
<mat-dialog-actions fxLayoutAlign="end">
    <button mat-button (click)="onNoClick()" color="accent">Nonaktifkan</button>
    <button mat-button (click)="onNoClick()">Tutup</button>
    <button fxHide mat-button (click)="validate()" cdkFocusInitial>Update</button>
</mat-dialog-actions>