<p mat-dialog-title *ngIf="data == null">
    Buat akun baru</p>
<p mat-dialog-title *ngIf="data != null">
    Detail akun</p>
<mat-dialog-content>
    <form fxLayout="column" [formGroup]="accountFormGroup">
        <div *ngIf="data != null" fxLayout="column" fxLayoutAlign="center">
            <img class="mat-form-field-flex" style="border-radius: 50%; background-color: aliceblue;" src="{{data.photo}}" alt="Profile Picture">
        </div>
        <div *ngIf="data != null">
            <br/>
            <mat-divider></mat-divider>
            <br/>
        </div>

        <mat-form-field appearance="outline">
            <mat-label>NIK</mat-label>
            <input required maxLength="8" matInput type="number" formControlName="nik" />
        </mat-form-field>

        <mat-form-field appearance="outline">
            <mat-label>Email</mat-label>
            <input required matInput type="email" formControlName="email">
        </mat-form-field>

        <mat-form-field appearance="outline">
            <mat-label>Name</mat-label>
            <input required maxLength="32" matInput type="text" formControlName="name" />
        </mat-form-field>

        <mat-form-field appearance="fill">
            <mat-label>Gender</mat-label>
            <mat-select required formControlName="gender">
                <mat-option value="male">Laki-Laki</mat-option>
                <mat-option value="female">Perempuan</mat-option>
            </mat-select>
        </mat-form-field>

        <!-- Role here -->
        <mat-form-field appearance="fill">
            <mat-label>Role</mat-label>
            <mat-select required formControlName="role">
                <mat-option *ngFor="let role of roles" [value]="role.value">
                    {{role.text}}
                </mat-option>
            </mat-select>
        </mat-form-field>

        <mat-form-field appearance="outline">
            <mat-label>Phone</mat-label>
            <input required maxLength="16" matInput type="tel" formControlName="phone">
        </mat-form-field>

        <mat-form-field appearance="outline">
            <mat-label>Whatsapp</mat-label>
            <input maxLength="16" matInput type="tel" formControlName="whatsapp">
        </mat-form-field>

        <mat-form-field appearance="outline" *ngIf="data == null">
            <mat-label>Password</mat-label>
            <input required matInput type="password" formControlName="password">
        </mat-form-field>

        <mat-form-field appearance="outline" *ngIf="data == null">
            <mat-label>Verify password</mat-label>
            <input required matInput [type]="togglePassword ? 'password' : 'text'" formControlName="rePassword" [errorStateMatcher]="passwordMatcher">
            <a mat-icon-button matSuffix (click)="togglePassword = !togglePassword" [attr.aria-label]="'Hide password'" [attr.aria-pressed]="togglePassword">
                <mat-icon>{{togglePassword ? 'visibility_off' : 'visibility'}}</mat-icon>
            </a>
            <mat-error *ngIf="accountFormGroup.hasError('notSame')">
                Passwords do not match
            </mat-error>
        </mat-form-field>

    </form>
</mat-dialog-content>
<mat-dialog-actions fxLayoutAlign="end">
    <button mat-button mat-dialog-close>Tutup</button>
    <button mat-button *ngIf="data != null" (click)="delete()" color="warn">Hapus</button>
    <button mat-button *ngIf="data != null" (click)="update()" color="accent" cdkFocusInitial>Update</button>
    <button mat-button *ngIf="data == null" (click)="create()" color="accent" cdkFocusInitial>Buat</button>
</mat-dialog-actions>