/* You can add global styles to this file, and also import other style files */

html,
body {
    height: 100%;
}

body {
    margin: 0;
    font-family: Roboto, "Helvetica Neue", sans-serif;
}

.spacer {
    height: 56px;
}


/* Calender Date Marker */

.marked-date {
    background: #26a69a !important;
    /* background-color: red !important; */
    border-radius: 100%;
}


/* Global table style */

table {
    width: 100%;
}

th.mat-sort-header-sorted {
    color: black;
}

.mat-row:hover {
    cursor: pointer;
    filter: brightness(90%);
}

.content-padding {
    padding: 24px;
}

.content-margin {
    margin: 24px;
}

@import "~@angular/material/prebuilt-themes/indigo-pink.css"